<div class="jumbotron">
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <button type="button" class="btn btn-light" id="discord">Add the GG Discord Bot!</button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <h1>Game Grumps Fan Site</h1>
        </div>
        <div class="col"></div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {{activeIndex}}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{activeLatest}}" href="latest">Lastest Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{activeTeam}}" href="team">The Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
        </li>
    </ul>
</div>