html {
    font-size: 16px;
}

.jumbotron {
    background-color: rgb(243, 125, 50);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    padding-bottom: 0%;
    border-radius: 0px;
}

.jumbotron h1 {
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px lightskyblue;
}

.nav {
    padding-left: 2%;
    padding-bottom: .5%;
    background-color: transparent;
    transition: background-color 250ms;
}

.nav-item {
    padding-right: .25%;
}

.nav-link {
    color: white;
    transition: 250ms background-color;
    border-radius: 5px;
}

.nav-link:hover {
    color: white;
    background-color: rgb(233,113,33);
    border-radius: 5px;
}

.active {
    background-color: rgb(233,113,33);
    border-radius: 5px;
    color: white;
}

.btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}

.post {
    text-align: center;
    align-items: center;
    padding-top: 1.5%;
}

.post h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.post p {
    padding-top: 1%;
    font-size: 1.25rem;
}

.quote p {
    padding-top: 8%;
    font-family: "Pinyon Script", cursive;
    font-size: 1.5rem;
    margin-bottom: 0%;
}

.quote span {
    float: right;
}

.video {
    padding-top: 5%;
}

.pull-up {
    margin-top: -2%;
}

.push-down {
    margin-bottom: 2%;
}