<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 post">
            <h3>Grump? Not-so-grump?</h3>
            <p>
                Game Grumps is a Let's Play webseries currently hosted by American Internet personalities Arin Hanson and Dan Avidan. Created
                in 2012 by Hanson and Jon "JonTron" Jafari, the series centers around its hosts playing video games and comedically
                commentating on them. After Jafari left the show in 2013 to focus on his own YouTube webseries, JonTron,
                he was subsequently succeeded by Avidan, who continues to host the show alongside Hanson.
            </p>
            <p>
                The channel has expanded to include other hosts besides the main two as a part of spin-off shows since Jafari's departure,
                including Ross O'Donovan, Barry Kramer, Suzy Berhow, and Brian Wecht of the band Ninja Sex Party, as well
                as various guest hosts. As of April 2018, Game Grumps has over 4 million subscribers and over 3 billion total
                video views.
            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="quote">
                <p id="quoteText"></p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>