<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-4 team">
            <img src="images/teamPics/arin.png">
            <p>Arin Hanson</p>
        </div>
        <div class="col-4 team">
            <img src="images/teamPics/dan.png">
            <p>Dan Avidan</p>
        </div>
        <div class="col"></div>
    </div>
</div>